body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin : 20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border:2px solid hsl(0, 0%, 20% ,0.3);
    border-radius: 10px;
    margin: 10px;
    width:150px;
}

button[type="submit"]{
    padding: 10px 5px;
    font-weight: bold;
    font-size: 2rem;
    background-color: green;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(89, 147, 3);
    margin-left: 5px;
    scroll-margin-right: 5px;
}

.card{
    background: linear-gradient(180deg, rgb(252, 252, 123),rgb(141, 246, 141));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%,0.5);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
    
}

h1{
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}

p{
    font-size: 2.5rem;
    margin: 5px 0;
}

.cityDisplay,.tempDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%,0.75);
    margin-bottom: 10px;
}

.humidityDisplay{
    font-weight: bolder;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 4.5rem;
}

.errorDisplay{
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%,0.75);
}